*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.container{
    text-align: center;
    background-color: #ec46d0;
    padding: 40px;
    border-radius:10px;
    box-shadow:10px 10px 10px #cb88cd,
    -10px -10px 10px #d486bd;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.display{
    font-size :48px;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius:10%;
    border:none;
    border-radius:10%;
    margin-bottom: 30px;
    box-shadow:20px 20px 20px #ea8fe4,
    inset -20px -20px 60px #d9d9d9;
    color:blue;
}
button{
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    border-radius:10px;
    border: none;
    cursor:pointer;
    background-color: #fff;
    color:rgb(234, 234, 242);
    box-shadow:20px 20px 20px #cf6ab6,
    -20px -20px 60px #d37fb6;
    transition: all 0.2s ease-in-out;
}
button-hover{
    transition: translate(5px,5px);
    box-shadow: 5px 5px 5px #d9d9d9,
-5px -5px 15px #ffffff;
}
.start{
    background-color: #737ac7 ;
    color:#fff;

}
.stop{
    background-color: palevioletred;
    color:#fff;
}
.reset{
    background-color: yellow;
    color:black;
}